In [1]:
import pandas as pd
import geopandas as gpd

# New USGS Irrigation Efficiency data for HUC12 from 2000-2020
USGS source: https://www.sciencebase.gov/catalog/item/6488734cd34ef77fcafe347a

In [18]:
# USGS effective precipitation unfiltered dataset for CONUS
conus_df = pd.read_csv('../../Data_main/USGS_water_use_data/USGS_new_wateruse_data_HUC12/IR_HUC12_Eff_2000_2020.csv')
conus_df

,Year,010100020101,010100020102,010100020103,010100020104,010100020105,010100020201,010100020202,010100020203,010100020204,...,181002041404,181002041501,181002041502,181002041503,181002041504,181002041505,181002041506,181002041507,181002041508,181002041600
0,2000,999,999,999,999,999,999,999,999,999,...,0.691,999,0.760,0.751,999,999,0.747,0.742,0.734,0.723
1,2001,999,999,999,999,999,999,999,999,999,...,0.692,999,0.761,0.752,999,999,0.748,0.743,0.733,0.681
2,2002,999,999,999,999,999,999,999,999,999,...,0.691,999,0.762,0.751,999,999,0.745,0.741,0.736,0.633
3,2003,999,999,999,999,999,999,999,999,999,...,0.692,999,0.776,0.769,999,999,0.753,0.747,0.734,0.613
4,2004,999,999,999,999,999,999,999,999,999,...,0.690,999,0.775,0.767,999,999,0.751,0.746,0.733,0.631
5,2005,999,999,999,999,999,999,999,999,999,...,0.690,999,0.768,0.760,999,999,0.754,0.751,0.735,0.644
6,2006,999,999,999,999,999,999,999,999,999,...,0.691,999,0.775,0.764,999,999,0.747,0.746,0.736,0.646
7,2007,999,999,999,999,999,999,999,999,999,...,0.695,999,0.775,0.778,999,999,0.761,0.754,0.736,0.639
8,2008,999,999,999,999,999,999,999,999,999,...,0.691,999,0.781,0.769,999,999,0.761,0.759,0.737,0.652
9,2009,999,999,999,999,999,999,999,999,999,...,0.712,999,0.775,0.772,999,999,0.772,0.760,0.742,0.650
10,2010,999,999,999,999,999,999,999,999,999,...,0.730,999,0.705,0.707,999,999,0.704,0.704,0.709,0.663
11,2011,999,999,999,999,999,999,999,999,999,...,0.740,999,0.779,0.783,999,999,0.771,0.760,0.746,0.680
12,2012,999,999,999,999,999,999,999,999,999,...,0.719,999,0.772,0.777,999,999,0.744,0.748,0.728,0.685
13,2013,999,999,999,999,999,999,999,999,999,...,0.731,999,0.777,0.774,999,999,0.727,0.750,0.726,0.698
14,2014,999,999,999,999,999,999,999,999,999,...,0.721,999,0.781,0.768,999,999,0.747,0.764,0.753,0.669
15,2015,999,999,999,999,999,999,999,999,999,...,0.698,999,0.781,0.778,999,999,0.762,0.767,0.760,0.700
16,2016,999,999,999,999,999,999,999,999,999,...,0.725,999,0.781,0.776,999,999,0.769,0.767,0.761,0.687
17,2017,999,999,999,999,999,999,999,999,999,...,0.700,999,0.784,0.769,999,999,0.759,0.764,0.744,0.684
18,2018,999,999,999,999,999,999,999,999,999,...,0.721,999,0.778,0.784,999,999,0.777,0.775,0.770,0.658
19,2019,999,999,999,999,999,999,999,999,999,...,0.708,999,0.785,0.784,999,999,0.771,0.780,0.772,0.705
20,2020,999,999,999,999,999,999,999,999,999,...,0.702,999,0.774,0.780,999,999,0.765,0.760,0.714,0.700

In [19]:
# WestUS HUC12 shapefile
huc12_westUS = gpd.read_file('../../Data_main/shapefiles/HUCs/HUC12/HUC12WestUS.shp')
huc12_westUS.columns

Index(['noncontr00', 'sourcedata', 'areaacres', 'humod', 'sourcefeat', 'huc12',
       'shape_leng', 'tohuc', 'states', 'sourceorig', 'shape_area', 'areasqkm',
       'hutype', 'name', 'tnmid', 'metasource', 'loaddate', 'gnis_id',
       'noncontrib', 'geometry'],
      dtype='object')

In [20]:
# HUC12 no from west US HUC12 shapefile
westUS_HUC12s = list(huc12_westUS['huc12'])
westUS_HUC12s[:15]

['070200010408',
 '090201010203',
 '090201010502',
 '090201010505',
 '090201010507',
 '090201070101',
 '090201070104',
 '090201070106',
 '090201070601',
 '090201070603',
 '090201070605',
 '090203010401',
 '090203010402',
 '090203010404',
 '090201051006']

In [21]:
# Unique HUC12 no. in USGS database
usgs_HUC12s = [i for i in conus_df.columns if i not in ['Year']]
usgs_HUC12s[:10]

['010100020101',
 '010100020102',
 '010100020103',
 '010100020104',
 '010100020105',
 '010100020201',
 '010100020202',
 '010100020203',
 '010100020204',
 '010100020301']

In [22]:
# USGS HUC12 no. filtered with westUS HUC12 shapefile
usgs_HUC12s= set(usgs_HUC12s)
westUS_HUC12s = set(westUS_HUC12s)

usgs_HUC12s_filtered = list(usgs_HUC12s.intersection(westUS_HUC12s))
usgs_HUC12s_filtered[:10]

['170702030106',
 '171003021204',
 '120500011201',
 '121002030304',
 '180600100507',
 '170300030603',
 '180300050605',
 '102702050701',
 '140300010302',
 '101401010602']

In [23]:
# USGS HUC12 filtered for WestUS
usgs_HUC12s_filtered = ['Year'] + usgs_HUC12s_filtered
westUS_HUC12_df = conus_df[usgs_HUC12s_filtered]
westUS_HUC12_df[westUS_HUC12_df.isin([999, 888])] = 0   # setting null values to zero

westUS_HUC12_df.head()

C:\Users\fahim\AppData\Local\Temp\ipykernel_18296\1286272295.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  westUS_HUC12_df[westUS_HUC12_df.isin([999, 888])] = 0   # setting null values to zero
C:\Users\fahim\AppData\Local\Temp\ipykernel_18296\1286272295.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  westUS_HUC12_df[westUS_HUC12_df.isin([999, 888])] = 0   # setting null values to zero

,Year,170702030106,171003021204,120500011201,121002030304,180600100507,170300030603,180300050605,102702050701,140300010302,...,130301010201,110300170206,150200080310,170603070602,101303061405,101402012006,110600030106,120100040203,120402010300,160402021308
0,2000,0.627,0.504,0.834,0.768,0.612,0.000,0.746,0.825,0.530,...,0,0.759,0,0,0.0,0.646,0.855,0,0.634,0
1,2001,0.627,0.501,0.830,0.784,0.612,0.696,0.745,0.831,0.530,...,0,0.756,0,0,0.0,0.678,0.857,0,0.594,0
2,2002,0.627,0.506,0.836,0.797,0.612,0.696,0.746,0.826,0.559,...,0,0.750,0,0,0.0,0.654,0.858,0,0.625,0
3,2003,0.626,0.500,0.841,0.821,0.612,0.696,0.748,0.826,0.559,...,0,0.768,0,0,0.0,0.643,0.855,0,0.649,0
4,2004,0.627,0.505,0.842,0.809,0.612,0.696,0.748,0.824,0.537,...,0,0.756,0,0,0.0,0.642,0.859,0,0.660,0

# Tranposing the columns as rows
The annual dataframe has HUC12 names as column names. But the WestUS HUC12 shapefile has HUC12 names in a column (as rows). We need to transpose the annual dataframe.

In [24]:
westUS_HUC12_df_T = westUS_HUC12_df.T
westUS_HUC12_df_T.columns = westUS_HUC12_df_T.iloc[0].astype(int).astype(str)  # setting 1st row as column name
westUS_HUC12_df_T = westUS_HUC12_df_T.iloc[1:]  # dropping 1st row from dataframe
westUS_HUC12_df_T = westUS_HUC12_df_T.reset_index()
westUS_HUC12_df_T.columns.values[0] = 'huc12'
westUS_HUC12_df_T

Year,huc12,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,170702030106,0.627,0.627,0.627,0.626,0.627,0.622,0.622,0.620,0.621,...,0.639,0.628,0.647,0.620,0.651,0.639,0.601,0.549,0.570,0.565
1,171003021204,0.504,0.501,0.506,0.500,0.505,0.500,0.508,0.505,0.503,...,0.497,0.496,0.500,0.497,0.502,0.510,0.520,0.512,0.525,0.520
2,120500011201,0.834,0.830,0.836,0.841,0.842,0.841,0.840,0.843,0.843,...,0.845,0.846,0.843,0.838,0.842,0.842,0.843,0.845,0.847,0.844
3,121002030304,0.768,0.784,0.797,0.821,0.809,0.793,0.800,0.779,0.810,...,0.812,0.819,0.809,0.820,0.816,0.821,0.837,0.823,0.819,0.821
4,180600100507,0.612,0.612,0.612,0.612,0.612,0.612,0.612,0.612,0.612,...,0.586,0.667,0.664,0.700,0.663,0.662,0.670,0.626,0.638,0.621
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48193,101402012006,0.646,0.678,0.654,0.643,0.642,0.646,0.647,0.640,0.656,...,0.613,0.756,0.620,0.606,0.000,0.672,0.000,0.715,0.656,0.646
48194,110600030106,0.855,0.857,0.858,0.855,0.859,0.855,0.860,0.858,0.860,...,0.857,0.858,0.854,0.851,0.857,0.856,0.853,0.856,0.857,0.857
48195,120100040203,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
48196,120402010300,0.634,0.594,0.625,0.649,0.660,0.605,0.608,0.632,0.584,...,0.523,0.573,0.556,0.499,0.533,0.575,0.547,0.510,0.644,0.556
48197,160402021308,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

# Connecting the efficiency dataframe with the HUC12 shapefile

In [25]:
gdf_merged = huc12_westUS.merge(westUS_HUC12_df_T, on='huc12')
gdf_merged = gdf_merged.drop(columns=['noncontr00', 'sourcedata',  'areaacres',  'humod', 'sourcefeat',
                                      'sourceorig', 'shape_area', 'shape_leng', 'hutype', 'tnmid', 'metasource',   
                                      'loaddate',    'gnis_id', 'noncontrib'])
gdf_merged.head()

,huc12,tohuc,states,areasqkm,name,geometry,2000,2001,2002,2003,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,070200010408,070200011101,"MN,SD",293.39,Big Stone Lake,"POLYGON ((-96.83570 45.59745, -96.83561 45.598...",0.848,0.84,0.855,0.838,...,0.853,0.861,0.862,0.854,0.851,0.855,0.856,0.857,0.864,0.859
1,090201010203,090201010205,"MN,SD",102.27,Lower Lake Traverse,"POLYGON ((-96.74647 45.72157, -96.74638 45.721...",0.000,0.00,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,090201010502,090201010505,"MN,ND,SD",147.33,Clubhouse Lake-Bois de Sioux River,"POLYGON ((-96.69140 45.93483, -96.69129 45.936...",0.000,0.00,0.000,0.000,...,0.000,0.000,0.855,0.761,0.000,0.855,0.000,0.000,0.000,0.000
3,090201010505,090201010507,"MN,ND",111.84,County Ditch No 26-Bois de Sioux River,"POLYGON ((-96.67957 46.05348, -96.67957 46.053...",0.000,0.00,0.000,0.000,...,0.855,0.855,0.856,0.861,0.855,0.855,0.859,0.000,0.000,0.000
4,090201010507,090201040401,"MN,ND",146.65,Bois de Sioux River,"POLYGON ((-96.67903 46.18438, -96.67900 46.184...",0.000,0.00,0.000,0.000,...,0.000,0.000,0.865,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [26]:
gdf_merged.columns

Index(['huc12', 'tohuc', 'states', 'areasqkm', 'name', 'geometry', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020'],
      dtype='object')

## saving the HUC12 shapefiles

In [27]:
gdf_merged.to_file('../../Data_main/USGS_water_use_data/USGS_new_wateruse_data_HUC12/HUC12_WestUS_with_Irr_Eff.shp')